$aim: url('./view-aim.png');
$slack: url('./view-slack.png');

.aim-for-slack--modal {
  .c-sk-modal {
    max-width: 700px;
  }

  h4 {
    color: #454545;
  }

  &__content {
    padding: 14px 28px 40px;
    width: 100%;
  }

  &__views {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 100%;
  }

  &__view {
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 7px rgba(0 0 0 / 36%);
    color: white;
    display: flex;
    font-size: 18px;
    font-weight: 900;
    height: 190px;
    justify-content: center;
    width: 306px;

    &:hover {
      background-blend-mode: overlay;
      box-shadow: 0 0 10px rgba(0 0 0 / 50%);
      cursor: pointer;
    }

    &--aim {
      background: $aim;

      &:hover {
        background: $aim, linear-gradient(rgba(0 0 0 / 45%), rgba(0 0 0 / 45%));

        &:before {
          content: 'AOL Instant Messenger';
        }
      }
    }

    &--slack {
      background: $slack;

      &:hover {
        background: $slack, linear-gradient(rgba(0 0 0 / 45%), rgba(0 0 0 / 45%));

        &:before {
          content: 'Regular Slack';
        }
      }
    }
  }
}
