@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans Bold';
  src: url('./fonts/Noto-Sans-Bold.ttf');
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('./fonts/MS-Sans-Serif.ttf');
}

@font-face {
  font-family: 'MS Sans Serif Bold';
  src: url('./fonts/MS-Sans-Serif-Bold.ttf');
}

#win-xp {
  background-color: white;
  box-sizing: border-box;
  cursor: url('./assets//cursor/default.png') 11 11, default;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

/* Not really sure if this is necessary? */
/* I copied it from the original winxp project */
#win-xp *,
#win-xp *:before,
#win-xp *:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

#win-xp *::-webkit-scrollbar {
  display: block;
}
#win-xp *::-webkit-scrollbar:vertical {
  width: 16px;
}
#win-xp *::-webkit-scrollbar:horizontal {
  height: 16px;
}
#win-xp *::-webkit-scrollbar-corner {
  background: #dfdfdf;
}
#win-xp *::-webkit-scrollbar-track:vertical {
  background-image: url("./assets/scroll/scroll-background.svg");
}
#win-xp *::-webkit-scrollbar-track:horizontal {
  background-image: url("./assets/scroll/scroll-background-horizontal.svg");
}
#win-xp *::-webkit-scrollbar-thumb {
  background-color: #c8d6fb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px;
  border: 1px solid #eeede6;
  border-bottom: 1px solid rgb(159, 181, 208, 0.75);
  border-radius: 2px;
  border-right: 1px solid rgb(159, 181, 208, 0.75);
  box-shadow: inset 0 0 0 1px white, inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;
}
#win-xp *::-webkit-scrollbar-button:horizontal:start:decrement,
#win-xp *::-webkit-scrollbar-button:horizontal:end:increment,
#win-xp *::-webkit-scrollbar-button:vertical:start:decrement,
#win-xp *::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}
#win-xp *::-webkit-scrollbar-thumb:vertical {
  background-image: url("../assets/scroll/scroll-thumb.svg");
}
#win-xp *::-webkit-scrollbar-button:vertical:start {
  background-image: url("../assets/scroll/scroll-arrow-up.svg");
  height: 16px;
}
#win-xp *::-webkit-scrollbar-button:vertical:end {
  background-image: url("../assets/scroll/scroll-arrow-down.svg");
  height: 16px;
}
#win-xp *::-webkit-scrollbar-thumb:horizontal {
  background-image: url("../assets/scroll/scroll-thumb-horizontal.svg");
}
#win-xp *::-webkit-scrollbar-button:horizontal:start {
  background-image: url("../assets/scroll/scroll-arrow-left.svg");
  width: 16px;
}
#win-xp *::-webkit-scrollbar-button:horizontal:end {
  background-image: url("../assets/scroll/scroll-arrow-right.svg");
  width: 16px;
}
