/*
 * Load all of the font faces that we'll use in this app
 */

@font-face {
  font-family: 'Noto Sans';
  src: url('./WinXP/assets/fonts/Noto-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans Bold';
  src: url('./WinXP/assets/fonts/Noto-Sans-Bold.ttf');
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('./WinXP/assets/fonts/MS-Sans-Serif-Regular.ttf');
}

@font-face {
  font-family: 'MS Sans Serif Bold';
  src: url('./WinXP/assets/fonts/MS-Sans-Serif-Bold.ttf');
}

/*
 * Sets the body to hidden before the DOM is constructed
 * If the user preference is set to load AIM immediately,
 * we don't want the Slack placeholder to be shown first
 */

body {
  visibility: hidden;
}

/*
 * These styles are for the button that switches to the Windows XP view
 * This button will be injected into Slack's top-right nav bar
 */

.aim-for-slack--launcher {
  margin-right: 6px;
  opacity: 1;
}

.aim-for-slack--launcher:active {
  opacity: 0.8;
}

.aim-for-slack--launcher:hover {
  filter: brightness(1.15);
}
